<form action="/create_photo">
  <div>
    <label for="photo_source">
      Image URL
    </label>

    <input id="photo_source" type="text" name="the_source">
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>

    <input id="photo_caption" type="text" name="the_caption">
  </div>

  <button>
    Create Photo
  </button>
</form>